<div class="wrapper">
    <nav class="navbar navbar-light">
        <div class="logo">
            <img src="http://pngimg.com/uploads/alarm_clock/alarm_clock_PNG63.png" width="40" height="40" alt="">
            <div class="logotext">Count down to christmas!</div>
        </div>
    </nav>
</div>
<div>
</div>
<div class='list'>
    <ul>
        <li><span id="days"></span>{{calcDays}} days</li>
        <li><span id="hours"></span>{{calcHours}} Hours</li>
        <li><span id="minutes"></span>{{calcMins}} Minutes</li>
        <li><span id="seconds"></span>{{calcSecs}} Seconds</li>
      </ul>
</div>